.graphView {
  background-color: $dBlue;
  height: 700px;
  border-radius: 0 8px 8px;
  position: relative;
  & > div {
    padding: 16px 8px;
    background-color: lighten($dBlue, 5%);
    border-radius: 0 8px 0;
  }
  & #schoolGraph {
    width: 600px;
    margin: 32px auto;
  }
  & #hoverDot {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    color: $dGreen;
    font-weight: bold;
    text-transform: uppercase;
  }
  & #xAxisTitle {
    position: absolute;
    top: 350px;
    left: 100px;
    text-transform: uppercase;
    font-size: $baseSize * 0.9;
    color: $steelBlue;
  }
  & #yAxisTitle {
    position: absolute;
    bottom: 40px;
    left: 430px;
    text-transform: uppercase;
    font-size: $baseSize * 0.9;
    color: $steelBlue;
  }
}


.dot {
  fill: rgba($white, 0.4);
  cursor: pointer;
}

.grid {
  & path {
    opacity: 0;
  }
  & line {
    stroke: rgba($dGreen, 0.1);
    stroke-width: 2px;
    stroke-dasharray: 4px 4px;
  }
}

.values {
  & path, line {
    opacity: 0;
  }
  & text {
    font-family: $reg;
    font-size: $baseSize * 0.6;
    fill: rgba($white, 0.4);
  }
}
